html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
}

.robot {
  width: 320px;
}

.robot-body {
  width: 320px;
  position: relative;
  padding-top: 55px;
  display: block;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 35px;
  left: 135px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: 5px;
}

.robot-head-right {
  right: 40px;
}

.robot-head-left {
  left: 40px;
}

@media only screen and (min-width: 60em) {

  .robot-body {
    width: 320px;
    position: relative;
    padding-top: 55px;
    left: 325px;
    display: block;
  }

  .robot-brain {
    width: 46px;
    position: absolute;
    top: 50px;
    left: 460px;
  }

  .robot-head-right,
  .robot-head-left {
    width: 125px;
    position: absolute;
    top: 5px;
  }

  .robot-head-right {
    right: 370px;
  }

  .robot-head-left {
    left: 360px;
  }

  .robot-head-right:hover {
    right: 300px;
  }

  .robot-head-left:hover {
    left: 300px;
  }


}
